<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-country">
    <%= link_to "国を作成する", new_country_path %>
  </div>
</div>

<div class="countries">

  <% @name.each do |country| %>
    <div class="country">
      <div class="country-name">
        <%= link_to country.name, country_messages_path(country) %>
      </div>
    </div>
  <% end %>
  
</div>