<div class="side-bar-header">
  <div class="header-name">
  <% if user_signed_in? %>
    <%= link_to current_user.name, edit_user_path(current_user) %>
    <% end %>
  </div>
  <div class="create-country">
  <% if user_signed_in? %>
    <%= link_to "国を作成する", new_country_path %>
  <% end %>
  </div>
</div>


<div class="countries">
<% if user_signed_in? %>
  <% @name.each do |country| %>
    <div class="country">
      <div class="country-name">
        <%= link_to country.name, country_messages_path(country) %>
      </div>
    </div>
  <% end %>
  <% end %>
  
</div>