<div class="side-bar-header">
  <div class="header-name">
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class="create-country">
    <%= link_to "国を作成する", new_country_path %>
  </div>
</div>

<div class="countries">
 <% @country.each do |country| %>
    <div class="country">
      <div class="country-name">
        <a href="#"><%= country.name %></a>
      </div>
    </div>
  <% end %>
</div>